#sideNavDiv{
    width: 300px;
    height: 100vh;
    float: left;
    transition: width 0.3s;
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
    background-color: var(--dark);
}

#contentDiv{
    margin-left: 300px;
    transition: width 0.3s;
}

::-webkit-scrollbar {
    /* height: 10px; */
    width: 8px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.side-nav-link .btn-main-link{
    border: 1px rgba(184, 184, 184, 0.1) solid;
}